<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>International Medical Cooperation Center for the Belt and Road</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./css/bootstrap-reboot.css">
  <link rel="stylesheet" href="./css/bootstrap-grid.css">
  <link rel="stylesheet" href="./css/main.css">
</head>
<!-- <body style="font-family: 'Roboto', sans-serif; font-family: 'Noto Sans SC', sans-serif;"> -->

<body style="font-family: 'Roboto', 'Noto Sans SC', sans-serif">
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="lang">
          <!-- <form action="{% url 'set_language' %}" method="post"> -->
          <!-- {% csrf_token %} -->
          <!-- <input type="hidden" name="next" value="{{ redirect_to }}"> -->
          <!-- <input type="hidden" name="language" value="cn"> -->
          <button type="submit" class="{% if LANG == 'cn' %}active{% endif %}">中文</button>
          <!-- </form> -->
          <!-- <form action="{% url 'set_language' %}" method="post"> -->
          <!-- {% csrf_token %} -->
          <!-- <input type="hidden" name="next" value="{{ redirect_to }}"> -->
          <!-- <input type="hidden" name="language" value="ru"> -->
          <button type="submit" class="{% if LANG == 'ru' %}active{% endif %}">РУС</button>
          <!-- </form> -->
          <!-- <form action="{% url 'set_language' %}" method="post"> -->
          <!-- {% csrf_token %} -->
          <!-- <input type="hidden" name="next" value="{{ redirect_to }}"> -->
          <!-- <input type="hidden" name="language" value="en"> -->
          <button type="submit" class="active">ENG</button>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <div class="header__inner">
      <div class="container">
        <a href="#" class="logo">
          <span class="logo__img"><img src="./img/logo.png" alt="IMCC"></span>
          <span class="logo__title">International Medical Cooperation Center for the Belt and Road</span>
        </a>
        <div class="search-form">
          <form method="get">
            <div class="search-inp">
              <input name="q" type="text">
              <button type="submit"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <nav class="main-nav">
    <div class="container">
      <ul class="main-nav__list">
        <li><a href="#">About center </a></li>
        <li><a href="#">Organization</a></li>
        <li><a href="#">News events</a></li>
        <li><a href="#">Cooperation and exchange</a></li>
        <li><a href="#">Multimedia</a></li>
        <li><a href="#">Platform services</a></li>
      </ul>
      <div class="menu-btn not-active" id="menu-btn"><span></span></div>
      <div class="search-form">
        <form method="get">
          <div class="search-inp">
            <input name="q" type="text">
            <button type="submit"></button>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="top-news">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9">
          <div class="top-news__item top-news__item--lg">
            <a href="#" class="top-news__item-img">
              <img src="./media/top-news-1.jpg" alt="">
            </a>
            <h3 class="top-news__item-title">
              <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores molestias iure tempore est
                libero itaque dolorum</a>
            </h3>
            <span class="top-news__item-date">2022 / 01 / 02</span>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="top-news__item">
            <a href="#" class="top-news__item-img">
              <img src="./media/top-news-2.jpg" alt="">
            </a>
            <h3 class="top-news__item-title">
              <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores molestias</a>
            </h3>
            <span class="top-news__item-date">2022 / 01 / 02</span>
          </div>
          <div class="top-news__item">
            <a href="#" class="top-news__item-img">
              <img src="./media/top-news-3.jpg" alt="">
            </a>
            <h3 class="top-news__item-title">
              <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit</a>
            </h3>
            <span class="top-news__item-date">2022 / 01 / 02</span>
          </div>
        </div>
      </div>
      <div class="top-news__readmore">
        <a href="#" class="link-btn">All news</a>
      </div>
    </div>
  </div>
  <div class="home-news">
    <div class="container">
      <h2 class="section-title">News</h2>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="news-card">
            <a href="#" class="news-card__img">
              <img src="./media/news-1.jpg" alt="">
            </a>
            <div class="news-card__body">
              <h4 class="news-card__title">
                <a href="#">Ad nulla perspiciatis officia dignissimos quidem assumenda, commodi voluptas officia
                  dignissimos</a>
              </h4>
              <span class="news-card__date">2022 / 01 / 02</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="news-card">
            <a href="#" class="news-card__img">
              <img src="./media/news-2.jpg" alt="">
            </a>
            <div class="news-card__body">
              <h4 class="news-card__title">
                <a href="#">Perspiciatis officia dignissimos quidem assumenda, commodi voluptas</a>
              </h4>
              <span class="news-card__date">2022 / 01 / 02</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="news-card">
            <a href="#" class="news-card__img">
              <img src="./media/news-3.jpg" alt="">
            </a>
            <div class="news-card__body">
              <h4 class="news-card__title">
                <a href="#">Ad nulla perspiciatis officia dignissimos quidem assumenda, commodi voluptas</a>
              </h4>
              <span class="news-card__date">2022 / 01 / 02</span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-md-3">
        <a href="#" class="link-btn">All news</a>
      </div>
    </div>
  </div>
  <div class="home-map"></div>
  <div class="home-about">
    <div class="container">
      <a href="#" class="logo">
        <span class="logo__img"><img src="./img/logo.png" alt="IMCC"></span>
        <span class="logo__title">International Medical Cooperation Center for the Belt and Road</span>
      </a>
      <div class="row">
        <div class="col-12 col-lg-6">
          <p>Asperiores, voluptate sunt qui quo amet magnam ex at excepturi deserunt natus, perspiciatis nobis illum
            corporis! Adipisci, fuga assumenda enim natus illo.</p>
          <p>Quo reprehenderit dolorum officiis possimus corporis perferendis illum corporis</p>
        </div>
        <div class="col-12 col-lg-6">
          <p>Adipisci, fuga assumenda enim natus illo, quo reprehenderit dolorum officiis possimus corporis perferendis
            Fuga assumenda enim natus illo, quo reprehenderit dolorum officiis possimus corporis perferendis</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-org-structure">
    <div class="home-org-structure__inner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5">
            <div class="home-org-structure__info">
              <h2 class="section-title">Organization structure</h2>
              <p class="home-org-structure__descr">Des amet consectetur adipisicing elit. Dolores molestias iure tempore
                est libero itaque molestias officiis possimus corporis perferendis</p>
              <a href="#" class="link-btn">Read more</a>
            </div>
          </div>
          <div class="col-12 col-lg-7">
            <div class="home-org-structure__list">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">1</span>
                    <span class="home-org-structure__item-label">Central office</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">2</span>
                    <span class="home-org-structure__item-label">International liaison department</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">3</span>
                    <span class="home-org-structure__item-label">Medical education division</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">4</span>
                    <span class="home-org-structure__item-label">International medical cooperation department</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">5</span>
                    <span class="home-org-structure__item-label">Health management division</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">6</span>
                    <span class="home-org-structure__item-label">Telemedicine division</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">7</span>
                    <span class="home-org-structure__item-label">Pharmaceutical industry division</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">8</span>
                    <span class="home-org-structure__item-label">Medical tourism division</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">9</span>
                    <span class="home-org-structure__item-label">Cross-border medical division</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">10</span>
                    <span class="home-org-structure__item-label">International Exhibition Department</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">11</span>
                    <span class="home-org-structure__item-label">Finance department</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="home-org-structure__item">
                    <span class="home-org-structure__item-num">12</span>
                    <span class="home-org-structure__item-label">Ministry of information technology</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-org-structure__readmore">
              <a href="#" class="link-btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="multimedia-tab">
    <div class="container">
      <h2 class="section-title">Multimedia</h2>
      <div class="row">
        <div class="col-12 col-lg-2">
          <div class="multimedia-tab__links">
            <div class="multimedia-tab__link active">
              <img src="media/multimedia-1.jpeg" alt="">
            </div>
            <div class="multimedia-tab__link">
              <img src="media/multimedia-2.jpeg" alt="">
            </div>
            <div class="multimedia-tab__link">
              <img src="media/multimedia-3.jpeg" alt="">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-10">
          <div class="multimedia-tab__content">
            <a href="#" class="multimedia-tab__content-img">
              <img src="media/multimedia-1.jpeg" alt="">
            </a>
            <h3 class="multimedia-tab__content-title">
              <a href="#">Quo reprehenderit dolorum officiis possimus corporis perferendis dolorum officiis</a>
            </h3>
            <span class="multimedia-tab__content-date">2022 / 01 / 02</span>
          </div>
          <div class="multimedia-tab__content">
            <a href="#" class="multimedia-tab__content-img">
              <img src="media/multimedia-2.jpeg" alt="">
            </a>
            <h3 class="multimedia-tab__content-title">
              <a href="#">Reprehenderit dolorum officiis possimus corporis perferendis dolorum officiis</a>
            </h3>
            <span class="multimedia-tab__content-date">2022 / 01 / 02</span>
          </div>
          <div class="multimedia-tab__content">
            <a href="#" class="multimedia-tab__content-img">
              <img src="media/multimedia-3.jpeg" alt="">
            </a>
            <h3 class="multimedia-tab__content-title">
              <a href="#">Lorem reprehenderit dolorum officiis possimus corporis perferendis dolorum officiis</a>
            </h3>
            <span class="multimedia-tab__content-date">2022 / 01 / 02</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9">
          <a href="#" class="logo">
            <span class="logo__img"><img src="./img/logo.png" alt="IMCC"></span>
            <span class="logo__title">International Medical Cooperation Center for the Belt and Road</span>
          </a>
        </div>
        <div class="col-12 col-md-3">
          <ul class="footer__menu">
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Links</a></li>
          </ul>
          <div class="footer__icons">
            <a href="#" class="footer__icon footer__icon--instagram"></a>
            <a href="#" class="footer__icon footer__icon--facebook"></a>
            <a href="#" class="footer__icon footer__icon--youtube"></a>
          </div>
        </div>
        <span class="footer__copyright"> © 2022 All rights reserved</span>
      </div>
    </div>
  </footer>

  <script src="./js/jquery-3.6.0.min.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>