{% load static %}
{% load i18n %}
{% get_current_language as LANG %}


<!doctype html>
<html lang="{{ LANG }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% trans 'International Medical Cooperation Center for the Belt and Road' %}</title>
  {% block css %}{% endblock %}
  <link rel="stylesheet" href="{% static '/css/bootstrap-reboot.css' %}">
  <link rel="stylesheet" href="{% static '/css/bootstrap-grid.css' %}">
  <link rel="stylesheet" href="{% static '/css/fonts.css' %}">
  <link rel="stylesheet" href="{% static '/css/main.css' %}">
  <link rel="icon" href="{% static '/img/logo.png' %}" type="image/x-png">
</head>
<body>
<div class="wrapper">
  <div class="main">
    {% include 'webapp/partial/header.html' %}
    <div class="py-5">
      {% block content %}{% endblock %}
    </div>
  </div>
  {% include 'webapp/partial/footer.html' %}
</div>

  <script src="{% static '/js/jquery-3.6.0.min.js'%}"></script>
  {% block js %}{% endblock %}
  <script src="{% static '/js/main.js' %}"></script>
</body>
</html>