{% extends 'webapp/base.html' %}
{% load i18n %}

{% block content %}
  <div class="container">
    <h1 class="section-title">{% trans 'Multimedia'%}</h1>
    <div class="row">
      {% for album in album_list %}
        <div class="col-12 col-lg-4">
          <div class="news-card news-card--photogallery">
            <a href="{% url 'webapp:album_detail' album.pk %}" class="news-card__img">
              <img src="{{ album.thumbnail.url }}" alt="{{ album.title }}">
            </a>
            <div class="news-card__body">
              <h3 class="news-card__title">
                <a href="{% url 'webapp:album_detail' album.pk %}">{{ album.title }}</a>
              </h3>
              <span class="news-card__date">{{ album.created_at | date:'Y / m / d' }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}